html {
  text-align: center;
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
  color: white;
}

h3 {
  font-size: 32px;
}

a {
  color: White;
}

h4 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.innewyork {
  color: white;
}

.header {
  background-image: url(images/the-flatiron-building.png)
}

.designed {
  background-image: url(images/the-flatiron-building.png)
}

.nav {
  font-size: 18px;
  color: white;
}

.footer {
  text-align: left;
  font-size: 11px;
  background-color: dimgray;
  color: White;
}
